:root {
  --light-background-color: #e6e0e0;
  --background-color: #d8d1d1;
  --primary-color: #605d5d;
  --font-color: #cf2e2e;
}

@font-face {
  font-family: "Frutiger Roman";
  src: url("fonts/FrutigerRoman.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("fonts/NunitoSans-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  margin: 1.25rem;
  margin-left: 2.125rem;
  background-color: var(--light-background-color);
}

/* a:active {
  color: var(--font-color);
  font-weight: bold;
  text-decoration: underline;
} */

.active a {
  color: black;
  font-weight: bold;
}

.nav-wrapper {
  margin-bottom: 2.95rem;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  color: var(--font-color);
  font-weight: 900;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.nav {
  margin-left: 10px;
  /* margin-right: 20px; */
  font-size: small;
  font-family: "Nunito Sans";
}

img {
  height: 80px;
}

.right-side {
  margin-right: 17px;
}

/* .logo a {
  color: var(--font-color);
  font-family: "Frutiger Roman";
  font-size: 25px;
} */

a {
  margin-top: 1.25rem;
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  font-family: "Frutiger Roman";
  font-size: 30px;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 40px;
  }

  .game-start {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
}
